{% extends "base.html" %}
{% block title %}Australia{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
        <p><strong>Marcos y Brandon</strong>, dos alumnos de ASIX 2 que estan haciendo la parte de GITLAB
        </p>
        <p>APRUEBANOS PORFAVOR JEJEJE</p>
    </div>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="https://i.blogs.es/6756b3/x893gd7/840_560.jpg" alt="Gato con Botas Triste ">
    </div>
</div>
{% endblock %}